.swiper-wrap {
  .swiper-wrap-left {
    width: 30%;
  }

  .swiper-wrap-right {
    width: 70%;
    position: relative;

    .sg-swiper-img-item {
      object-fit: cover;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
